{
  "parser":"@typescript-eslint/parser",
  "parserOptions":{
    "ecmaVersion":2020,
    "sourceType":"module",
    "lib":[
      "esnext",
      "dom",
      "dom.iterable"
    ],
    "ecmaFeatures":{
      "jsx":true
    }
  },
  "extends":[
    "react-app",
    "plugin:prettier/recommended"
  ],
  "plugins":[
    "@typescript-eslint",
    "jest",
    "react-hooks",
    "import-helpers"
  ],
  "rules":{
    "no-redeclare":"error",
    "no-console":"error",
    "no-shadow": "off",
    "prefer-template":"error",
    "no-empty":"error",
    "no-debugger":"warn",
    "no-unused-vars":"off",
    "prettier/prettier":[
      "warn",
      {
        "trailingComma":"es5",
        "tabWidth":2,
        "semi":false,
        "singleQuote":true,
        "prefer-template":true
      }
    ],
    "react/jsx-key":"warn",
    "react-hooks/rules-of-hooks":"error",
    "react-hooks/exhaustive-deps":"off",
    "@typescript-eslint/no-unused-vars":[
      "error",
      {
        "argsIgnorePattern":"^_",
        "varsIgnorePattern":"^_"
      }
    ]
  },
  "env":{
    "browser":true,
    "node":true
  },
  "settings":{
    "react":{
      "version":"17.0.1"
    }
  },
  "globals":{
    "page":true,
    "browser":true,
    "context":true,
    "location":true
  }
}
