.watchlist {
  .ant-card {
    margin-bottom: 16px;

    .ant-card-head-title {
      font-size: 28px;
    }
    .ant-card-body {
      padding: 12px;

      .ant-table-thead > tr > th {
        background-color: transparent;
      }

      tbody > tr:last-child > td {
        border-bottom: none;
      }
    }
  }
}
